.filters {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;

  &__btn {
    position: relative;

    display: inline-flex;
    align-items: center;
    justify-content: center;

    padding: 10px 36px 10px 20px;

    border: 1px solid transparent;
    border-radius: 4px;

    font-weight: 700;
    font-size: 16px;
    line-height: 1.6;

    color: var(--gray-600);
    background: transparent;

    cursor: pointer;
    transition: 0.2s;

    &:hover {
      color: var(--primary);
    }

    &:focus-visible {
      outline: 2px solid var(--primary);
      outline-offset: 2px;
    }

    &::after {
      content: attr(data-count);

      position: absolute;
      top: 9px;
      right: 17px;

      width: 18px;
      height: 18px;

      display: flex;
      align-items: center;
      justify-content: center;

      border-radius: 50%;

      font-weight: 900;
      font-size: 10px;
      line-height: 1;

      color: var(--gray-600);
    }
  }

  &__btn--active {
    color: var(--primary);
    border-color: var(--primary);

    &::after {
      color: var(--primary);
    }
  }
}
