.catalog__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  margin-bottom: 80px;
}

@media (max-width: 1200px) {
  .catalog__grid {
    grid-template-columns: repeat(2, 390px);
  }
}

@media (max-width: 860px) {
  .catalog__grid {
    grid-template-columns: minmax(310px, 390px);
    justify-content: center;
  }
}